menu, nav, output, ruby, section, summary,
time, mark, audio, video,li,float {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
	
}
ol, ul {
	list-style: none;
}
body
{
	color:#333;
	display:block;
	margin:0;
	pading:0;

}
html
{
	font: 10px arial,sans-serif;
}
h1, h2 {
    font-family: Georgia,"New Century Schoolbook","Nimbus Roman No9 L",serif;
    font-weight: normal;
    letter-spacing: .02em;
    margin:0px;
}
a
{
	text-decoration:none;
	cursor:pointer;
}
.clearfix
{
	display:table;
	clear:both;
}

.header
{
	background:#5A5A62;
	height:150px;
	width:100%;
}
.logo
{
clear: both;
    display: table-cell;
}
.user_image{
    margin:20px;
    float:left;
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 100%;
    
}
.maintitle
{
	float: left;
    color: white;
    padding-left:20px;
    margin: 0px;
    
    
	
}
.paneltitle
{
	
    font-size: 5.7em;
    letter-spacing:4px;
    font-family: fantasy;
    padding-top: 30px;
}
.panelsubtitle
{
	font-size: 20px;
    letter-spacing: 5px;
    padding-left: 80px;
    font-family: fantasy;
}
.contactnumbers1
{
	float:left;
	padding-left:190px;
	padding-top:20px;
	font-size:18px;
	color:white;
	line-height:
}
.contactnumbers2
{
	float:left;
	padding-left:20px;
	padding-top:20px;
	font-size:18px;
	color:white;
}

.phone
{
	border-radius:100%;
}
.mailid
{
	float:left;
	padding-left:50px;
	padding-top:50px;
	font-size:18px;
	color:white;
}

.section
{
	height:452px;
	width:100%;
	background:#f1f1f1;
	
}
.orangebar
{
	width:100%;
	height:40px;
	background:rgba(255, 59, 0, 0.63);
}


.leftcontent
{
	float:left;
	width:300px;
	height:362px;
	padding:20px;
	background:#5A5A62;
	
	
}

.leftcontent h2
{
	font-size:25px;
	color:white;
	line-height:1.5;
}
.leftcontent p
{
	font-size:16px;
color:white;
}
.leftcontent p:hover
{
	color:;
}
.leftcontent span
{
	color:white;
}
.rightcontent
{
	float: right;
    background: #5A5A62;
    width: 300px;
    height: 362px;
    padding: 20px;
}
.rightcontent h2
{
	font-size:25px;
	color:white;
	line-height:1.5;
}
.rightcontent p
{
	font-size:16px;
color:white;
}
.rightcontent p:hover
{
	color:white;
}
.rightcontent span
{
	color:white;;;
}



@media screen and (min-width:300px) and (max-width:600px)
{
.header
	{
	width:100%;
	height:180px;
}
.user_image{
	width:60px;
	height:60px;

	}
	
.maintitle
{
font-size:5px;
position:absolute;
left:90px;


}
.paneltitle
{
	padding-left:8px;
	
}
.panelsubtitle
{
	font-size:12px;
	padding-left:30px;
}
.contactnumbers1
{
	float:none;
	padding-top:100px;
	padding-left:120px;
	font-size:14px;
}
.contactnumbers2
{
	float:none;;
padding-top:0px;
	padding-left:120px;
	font-size:14px;
}


.section{
	width:100%;
	height:385px;
	}
	
.leftcontent
{
	float:none;
	width:90%;
	height:300px;
	
}

.leftcontent h2
{
	font-size:21px;
	
	
}
.leftcontent p
{
	font-size:15px;
}
.rightcontent
{
	float:none;
	width:90%;
	padding-top:0px;
	height:160px;
}
.rightcontent h2
{
	font-size:21px;
	
	
}
.rightcontent p
{
	font-size:15px;
}
.footer
{
	height:50px;
}
    
	
	
}
@media screen and (min-width:1025px) and (max-width:1250px)
{
.contactnumbers1
{
	float:left;
	padding-left:40px;
	font-size:14px;
	
}
.contactnumbers2
{
	float:left;
	padding-left:10px;
	font-size:14px;
	;
}

	
}
